<p id="notice"><%= notice %></p>

<p>
  <strong>Zh name:</strong>
  <%= @shop.zh_name %>
</p>

<p>
  <strong>Jp name:</strong>
  <%= @shop.jp_name %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
