<div class="row" style="position: relative;">
<%= form_for :post, url: admin_post_to_orders_path, remote: true, html: { id: "post_url_form" } do |f| %>
  <%= f.select :type, [['單一產品',1],['單日連線多產品',2]] %>
  <%= f.text_field :url %>
  <%= f.submit "取得貼文資訊" %>
<% end %>
</div>
<div id="customer_orders" class="clearfix">
  <h1 class="hidden">按顧客分類</h1>
</div>
<hr class="hidden" style="border-color: #333;">
<div id="orders" class="clearfix">
  <h1 class="hidden">按產品分類</h1>
</div>
<%= link_to "清除版面", "#", onclick: "$('#customer_orders, #orders').html('');" %>
<style type="text/css">
  #orders .row:nth-child(odd) {
    background-color: #eee;
  }
  #customer_orders {
    margin-top: 50px;
  }
  form#post_url_form {
    display: flex;
    position: fixed;
    width: 940px;
    top: 60px;
    z-index: 9999;
  }
  input[name="post[url]"] {
    width: 100%;
    border: 2px solid black;
    line-height: 40px;
    font-size: 24px;
  }
  input[name="commit"] {
    line-height: 46px;
    border: 2px solid black;
    border-left: none;
    background-color: black;
    font-weight: 400;
    color: white;
  }
  input[name="commit"]:hover {
    background-color: white;
    color: black;
  }
  #orders {
    margin-top: 48px;
  }
</style>