<div class="clearfix" id="items_in_list">
<% @cart_items.map do |product_id, items| %>
  <% product = Product.find(product_id) %>
  <div class="col-xs-12 item">
    <div class="col-xs-3 col-sm-3">
      <%= link_to product do %>
        <% if product.attachments_count > 0 %>
          <%= image_tag product.attachments.first.image.url, class: "img100" %>
        <% else %>
          <%= image_tag "https://unsplash.it/400?image=668", class: "img100" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-9 col-sm-6">
      <%#= link_to item.product.item_code, item.product %>
      <%= link_to product.name, product %>
      <b class="pull-right"><%= "NT$ #{product.our_price}" %></b>
      <br><br>
      <% items.each do |item| %>
        <%= form_for item, url: cart_item_path(item.id), remote: true do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <%= item.variation.present? ? "#{item.variation.jp_name} x " : ""  %>
              <%= number_field_tag :group_quantity, (item.quantity/product.wholesale_amount) || 1, { style: "width: 40px;", max: 999, pattern: "[0-9]*", data: { whole_sale: product.wholesale_amount } } %>組，共
              <strong class="cart-item-quantity-text"><%= item.quantity %></strong>
              <%= f.number_field :quantity, { style: "width: 40px; margin: 0px;", max: 999, pattern: "[0-9]*", step: product.wholesale_amount, class: "hidden" } %>個
              <%= dead_or_alive(product) %>
            </div>
            <div class="col-xs-12" style="margin-top:10px;">
              <%= f.button "確定更新", class: "btn btn-primary", style: "display: none; width: 33.33%;", data: { disable_with: "請稍等..." } %>
              <div class="pull-right">
              <%= link_to "下次再買", root_path %> |
              <%= link_to "刪除", cart_item_path(item), method: :delete, data: { confirm: "從購物車移除\n#{item.product.name}#{' - ' + item.variation.jp_name if item.variation.present?}？" } %>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
</div>