<nav class="navbar navbar-default" id="navbar-customize">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "icon.png", width: '50px', style: "float: left; padding: 3px 0px;" %>
      <h1 class="navbar-brand">
        <%= link_to root_path do %>
          <span class="japan-logo-text">JP</span>
          <span>P8</span>
        <% end %>
      </h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <div>
      <%= search_form_for @q, class: "navbar-form navbar-left hidden-xs" do |f| %>
      <%#= form_tag products_path, class: "navbar-form navbar-left hidden-xs", role: "search", method: :get do %>
        <div class="form-group">
          <%= f.search_field :category_jp_name_or_category_zh_name_or_jp_name_or_zh_name_or_item_code_or_description_cont, class: "form-control" %>
          <%#= search_field_tag :search, params[:search], class: "form-control", placeholder: "名稱、編號" %>
        </div>
        <%= f.submit "搜尋", class: "btn btn-pink", name: nil %>
      <% end %>
      </div>
      <!-- <form class="navbar-form navbar-left hidden-xs" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-pink">搜尋</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= link_to "訂購紀錄", orders_path, class: "btn btn-pink" %>
          <%= link_to "發財車", cart_path, class: "btn btn-pink" %>
          <%= link_to "登出", logout_path, class: "btn btn-pink", method: :delete %>
        <% else %>
          <%= link_to "加入會員", register_path, class: "btn btn-pink" %>
          <%= link_to "登入", login_path, class: "btn btn-pink" %>
        <% end %>
        <%= link_to "批發須知", guide_path, class: "btn btn-default help" %>
        <!-- <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>