<div class="infos well <%= order.paid? ? 'text-success' : 'text-danger'%>" style="letter-spacing: 1px;">
  <% if payment_info.payment_type == "CREDIT" %>
    <span>使用卡片：</span><br class="visible-xs-inline"><strong><%= "**** **** **** #{payment_info.card_4no}" %></strong><br>
    <span>支付金額：</span><br class="visible-xs-inline"><strong>NT$ <%= payment_info.total %></strong><br>
    <span>支付狀態：</span><br class="visible-xs-inline"><strong><%= order.paid? ? '已付款' : '等待匯款'%></strong><br>
  <% elsif payment_info.payment_type == "VACC" %>
    <span>銀行代碼：</span><br class="visible-xs-inline"><strong><%= payment_info.atm_bank_code %></strong><br>
    <span>匯款帳號：</span><br class="visible-xs-inline"><strong><%= payment_info.atm_code_no %></strong><br>
    <span>付款期限：</span><br class="visible-xs-inline"><strong><%= "#{payment_info.atm_expire_date} #{payment_info.atm_expire_time}" %></strong><br>
    <span>總計NT$：</span><br class="visible-xs-inline"><strong><%= payment_info.total %> 元</strong><br>
    <span>支付狀態：</span><br class="visible-xs-inline"><strong><%= order.paid? ? '已付款' : '等待匯款'%></strong><br>
  <% elsif payment_info.payment_type == "WEBATM" %>
    <span>銀行代碼：</span><br class="visible-xs-inline"><strong><%= payment_info.pay_bank_code %></strong><br>
    <span>帳號末 5 碼：</span><br class="visible-xs-inline"><strong><%= payment_info.payer_account_5code %></strong><br>
    <span>支付金額：</span><br class="visible-xs-inline"><strong>NT$ <%= payment_info.total %></strong><br>
    <span>支付狀態：</span><br class="visible-xs-inline"><strong><%= order.paid? ? '已付款' : '等待匯款'%></strong><br>
  <% end %>
</div>
<style type="text/css">
  .infos span, .infos strong {
    font-size: 20px;
  }
</style>