<h1 class="better-num order-num"><%= "訂單 ##{@order.num}" %></h1>
<% if @payment_info.present? %>
  <%= render "payment_info", payment_info: @payment_info %>
<% end %>
<div class="clearfix"></div>
<div class="table-like-columns">
  <div class="col-xs-12 tr">
    <div class="col-xs-3 thead">
      <h5>訂購時間</h5>
    </div>
    <div class="col-xs-9 tbody">
      <p><%= @order.order_time %></p>
    </div>
  </div>
  <div class="col-xs-12 tr">
    <div class="col-xs-3 thead">
      <h5>訂購者</h5>
    </div>
    <div class="col-xs-9 tbody">
      <p><%= @order.user.name %></p>
    </div>
  </div>
  <div class="col-xs-12 tr">
    <div class="col-xs-12 thead">
      <h5>訂單內容</h5>
    </div>
    <div class="clearfix" id="items_in_list">
      <% @order_item_groups.each do |product_id, order_items| %>
        <% product = Product.find(product_id) %>
        <div class="col-xs-12 item">
          <div class="col-xs-3 col-sm-3">
            <% if product.attachments_count > 0 %>
              <%= link_to product do %>
                <%= image_tag product.attachments.first.image.url, class: "img100" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-9 col-sm-6">
            <%= link_to product.name, product %>
            <% order_items.each_with_index do |item, index| %>
              <div class="clearfix" style="margin-top: 10px;">
              <%= form_for item, url: order_item_path(item.id), remote: true do |f| %>
                <b class="pull-right">NT$ <%= item.price %></b>
                <%= item.variation.present? ? "#{item.variation.jp_name} x" : "數量：" %>
                <% if @order.cancelable? %>
                  <%= number_field_tag :group_quantity, (item.quantity/product.wholesale_amount) || 1, { style: "width: 40px;", max: 999, pattern: "[0-9]*", data: { whole_sale: product.wholesale_amount } } %>組，共
                  <strong class="order-item-quantity-text"><%= item.quantity %></strong>
                  <%= f.number_field :quantity, { style: "width: 40px; margin: 0px;", max: 999, pattern: "[0-9]*", step: product.wholesale_amount, class: "hidden" } %>個
                  <%#= dead_or_alive(product) %>
                  <br>
                  <div style="margin-top:10px;">
                    <%= f.button "確定更新", class: "btn btn-primary", style: "display: none; width: 33.33%;", data: { disable_with: "請稍等..." } %>
                    <% unless item.paid? %>
                      <div class="pull-right">
                        <%= link_to "下次再買", root_path %>
                        <% if @order.cancelable? %>
                           |
                          <%= link_to "刪除", order_item_path(item), method: :delete, data: { confirm: "從訂單移除\n#{item.name}#{' - ' + item.variation.jp_name if item.variation.present?}？" } %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <%= item.quantity %>
                  <%#= dead_or_alive(product) %>
                <% end %>
              <% end %>
              </div>
              <span class="pull-right"><%= item.i18n_state %>
              <% if item.refundable? %>
                <%= link_to "退款", refund_order_item_path(item), class: "btn btn-default", method: :post, data: { confirm: "確定要轉為購物金？" } %>
                <%#= link_to "等待進貨", order_item_path(item), method: :delete, data: { confirm: "從訂單移除\n#{item.name}#{' - ' + item.variation.jp_name if item.variation.present?}？" }, class: "btn btn-default" %>
              <% end %>
              </span>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-sm-8"></div>
    <div id="total" class="col-sm-4" style="font-size: 24px;">
      <% if @order.deduction > 0 %>
        <div id="deduction-detail">
          <span class="pull-left">總計</span><span class="pull-right"><strong><%= @order.total %></strong> 元</span><br>
          <span class="pull-left text-success">購物金</span><span class="pull-right text-success"><b>-</b> <%= @order.deduction %> 元</span>
        </div>
        <div class="clearfix"></div>
        <hr style="margin: 10px 0px; border-color: #333;">
      <% elsif @order.cancelable? && current_user.deductible_points > 0 %>
        <div class="text-right">
        <%= link_to "使用購物金？", deduct_order_path(@order), class: "btn btn-pink-alt btn-deduct" %>
        </div>
      <% end %>
      <div class="text-danger">
        <span class="pull-left">結帳</span><span class="pull-right"><strong class="text-danger"><%= @order.deducted_total %></strong> 元</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-3"></div>
    <div class="col-xs-9 text-right"><%= @order.i18n_state %></div>
  </div>
  <div class="col-xs-12 text-center" style="margin-top: 30px;">
    <%= render_order_state_btns(@order) %>
    <% if @order.cancelable? %>
      <%= link_to "刪除訂單", order_path(@order.token), method: :delete, data: { confirm: "此動作無法復原，確定要刪除訂單嗎？" }, class: "pull-right btn btn-link btn-easier" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $("form.edit_order_item input[name='group_quantity']").on("input change", function(){
    $(this).siblings(".order-item-quantity-text").html($(this).data("whole-sale")*$(this).val())
    $(this).siblings("input[name='order_item[quantity]']").val($(this).data("whole-sale")*$(this).val())
    $(this).parents("form").find('button').show()
  })
  $("form.edit_order_item").on("ajax:success", function(e, data, status, xhr){
    console.log(data)
    $(this).find('button').hide()
    Object.keys(data).forEach(function(name, index){
      console.log(name + ": " + data[name])
      $("#" + name).find("strong").html(data[name])
    })
  })
  $(".btn-deduct").on("click", function(e){
    e.preventDefault();
    var deduction = prompt("本次交易最多可折抵 NT$ <%= current_user.deductible_points_for_this_(@order.total) %>，\n您也可自訂折抵金額", "<%= current_user.deductible_points_for_this_(@order.total) %>");
    
    if (deduction != null && deduction >= 0 && deduction <= <%= @order.total %>) {
      $.ajax({
        url: window.location.pathname + "/deduct",
        method: "POST",
        dataType: "JSON",
        data: { deduction: deduction }
      }).done(function(){
        alert("折抵成功！")
        location.reload();
      }).fail(function(jqxhr, status, errorThrown){
        if (jqxhr.status == 422) {
          alert("很抱歉，折抵失敗，若您餘額足夠但無法折抵，請聯絡我們。")
        }
      })
    } else if (deduction != null) {
      alert("很抱歉，輸入金額可能有問題，請您再試一次，若無法折抵，請聯絡我們。")
    }
    $(this).blur()
  })
</script>

<style type="text/css">
  hr:last-child {
    display: none;
  }
</style>