<h1 class="better-num"><%= "訂單 ##{@order.num}" %></h1>
<div class="clearfix"></div>
<div class="table-like-columns">
  <div class="col-xs-12 tr">
    <div class="col-xs-3 thead">
      <h5>訂購時間</h5>
    </div>
    <div class="col-xs-9 tbody">
      <p><%= @order.order_time %></p>
    </div>
  </div>
  <div class="col-xs-12 tr">
    <div class="col-xs-3 thead">
      <h5>訂購者</h5>
    </div>
    <div class="col-xs-9 tbody">
      <p><%= @order.user.name %></p>
    </div>
  </div>
  <div class="col-xs-12 tr">
    <div class="col-xs-12 thead">
      <h5>訂單內容</h5>
    </div>
      <div class="clearfix" id="items_in_list">
        <% @order_item_groups.each do |product_id, order_items| %>
          <% product = Product.find(product_id) %>
          <div class="col-xs-12 item">
            <div class="col-xs-3 col-sm-3">
              <% if product.attachments_count > 0 %>
                <%= link_to product do %>
                  <%= image_tag product.attachments.first.image.url, class: "img100" %>
                <% end %>
              <% end %>
            </div>
            <div class="col-xs-9 col-sm-6">
              <%= link_to product.name, product %>
              <% order_items.each_with_index do |item, index| %>
                <div class="clearfix">
                <%= form_for item, url: order_item_path(item.id), remote: true do |f| %>
                  <b class="pull-right">NT$ <%= item.price %></b>
                  <%= item.variation.present? ? "#{item.variation.jp_name} x" : "數量：" %>
                  <% if @order.cancelable? %>
                    <%= f.number_field :quantity, { style: "width: 60px;", max: 999, pattern: "[0-9]*" } %>
                    <%#= dead_or_alive(product) %>
                    <br>
                    <div class="col-xs-12" style="margin-top:10px;">
                      <%= f.button "確定更新", class: "btn btn-primary", style: "display: none; width: 33.33%;", data: { disable_with: "請稍等..." } %>
                      <div class="pull-right">
                        <%= link_to "下次再買", root_path %>
                        <% if @order.cancelable? %>
                           |
                          <%= link_to "刪除", order_item_path(item), method: :delete, data: { confirm: "從訂單移除\n#{item.name}#{' - ' + item.variation.jp_name if item.variation.present?}？" } %>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <%= item.quantity %>
                    <%#= dead_or_alive(product) %>
                  <% end %>
                <% end %>
                </div>
                <span class="pull-right"><%= I18n.t("order_item_state.#{item.state}") unless item.placed? || item.paid? %></span>
                <hr>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-3"></div>
    <div id="total" class="col-xs-9 text-right text-danger" style="font-size: 24px;">總計 NT$ <strong><%= @order.total %></strong> 元</div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-3"></div>
    <div class="col-xs-9 text-right"><%= @order.i18n_state_for_user %></div>
  </div>
  <div class="col-xs-12 text-center" style="margin-top: 30px;">
    <%= render_order_state_btns(@order) %>
    <%= contact_us %>
    <%= link_to "刪除訂單", order_path(@order.token), method: :delete, data: { confirm: "此動作無法復原，確定要刪除訂單嗎？" }, class: "pull-right btn btn-link" %>
  </div>
</div>
<script type="text/javascript">
  $("form.edit_order_item input").on("input change", function(){
    $(this).parents("form").find('button').show()
  })
  $("form.edit_order_item").on("ajax:success", function(e, data, status, xhr){
    console.log(data)
    $(this).find('button').hide()
    Object.keys(data).forEach(function(name, index){
      console.log(name + ": " + data[name])
      $("#" + name).find("strong").html(data[name])
    })
  })
</script>

<style type="text/css">
  hr:last-child {
    display: none;
  }
</style>