<h1>
  JPP8發財車
  <%= link_to "繼續採購", category_path(@last_product.category.jp_name, anchor: @last_product.item_code), class: "btn btn-default pull-right" if @cart.cart_items.present? %>
</h1>
<% if @cart.cart_items.present? %>
  <%= render "partials/cart_items" %>
  <div class="col-sm-6">
    <%= render "partials/money_car" %>
  </div>
  <div class="pull-right text-right">
    <h3>成本：<strong><%= @cart.total %></strong> 元</h3>
    <h3>預估營業額：<strong><%= @cart.total_revenue %></strong> 元</h3>
    <hr style="border: 1px solid gray;">
    <h3>預估利潤：<strong><%= @cart.total_benefit %></strong> 元</h3>
    <%= link_to "預覽訂單", orders_path, method: :post, class: "btn btn-default btn-large btn-gold" %>
  </div>
<% else %>
  目前還沒加入任何商品歐～
  <div class="col-sm-6">
    <div id="outside">
      <div id="car"></div>
      <div id="window"></div>
      <div id="car-logo"><span style="color: hotpink;"">JP</span><span style="color: white;">P8</span></div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('input[name="cart_item[quantity]"]').bind('keypress change',function(){
    $(this).siblings('input[type="submit"]').removeClass("hidden")
  })
</script>