<h1>
  JPP8發財車
  <%= link_to "繼續採購", products_path(category_id: @cart.cart_items.last.product.category.id), class: "btn btn-info pull-right" %>
</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <th>商品編號</th>
    <th>商品圖片</th>
    <th>商品名稱</th>
    <th>數量</th>
    <th>建議單價</th>
    <th>平均成本</th>
    <th>批發總價</th>
  </thead>
  <tbody>
    <% @cart.cart_items.map do |item| %>
      <%= form_for item, url: cart_item_path(item.id) do |f| %>
      <tr>
        <td><%= item.item_code %></td>
        <td><%= image_tag item.product.attachments.first.image.url, style: "height: 70px;" %></td>
        <td><%= link_to item.name, item.product %><br>
          <%= link_to "刪除", cart_item_path(item), class: "btn btn-danger", method: :delete, data: { confirm: "從購物車移除#{item.name}？" } %>
          <%= link_to "下次再買", root_path, class: "btn btn-info" %>
        </td>
        <td>
          <%= f.number_field :quantity, { style: "width: 60px;", max: 999 } %><br>
          <%= f.submit "更新", class: "btn btn-warning hidden" %>
        </td>
        <td class="text-info"><%= item.product.their_price %></td>
        <td><%= item.price/item.wholesale_amount if item.wholesale_amount %></td>
        <td><%= item.price %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-sm-6">
  <div id="outside">
    <div id="car"></div>
    <div id="window"></div>
    <div id="car-logo"><span style="color: hotpink;"">JP</span><span style="color: white;">P8</span></div>
    <div id="money-on-car"><%= @cart.total_benefit %>元</div>
  </div>
</div>
<div class="pull-right text-right">
  <h3>成本：<strong><%= @cart.total %></strong> 元</h3>
  <h3>預估營業額：<strong><%= @cart.total_revenue %></strong> 元</h3>
  <hr style="border: 1px solid gray;">
  <h3>預估利潤：<strong><%= @cart.total_benefit %></strong> 元</h3>
  <%= link_to "確認訂單", root_path, class: "btn btn-default btn-large btn-gold" %>
</div>

<script type="text/javascript">
  $('input[name="cart_item[quantity]"]').change(function(){
    $(this).siblings('input[type="submit"]').removeClass("hidden")
  })
</script>