<div id="product-index-container">
  <!-- <div class="col-sm-3 col-xs-12 left">
    <%#= render "categories/categories" %>
  </div> -->
  <%#= render "partials/ad_main" %>
  <div class="row" id="products">
    <div class="col-sm-12 block-title">日本熱銷商品</div>
    <div class="col-xs-12">
      <%= render "partials/pagination" %>
      <%= render 'partials/tool' %>
    </div>
    <%= render @products, rowCount: session[:rowCount].to_i %>
    <div class="col-xs-12">
      <%= render "partials/pagination" %>
    </div>
  </div>
  <div id="last-page"><%= link_to_previous_page @products, "<<", class: "btn btn-default btn-lg" %></div>
  <div id="next-page"><%= link_to_next_page @products, ">>", class: "btn btn-default btn-lg" %></div>
</div>