<% @products.each do |shop, products_arr| %>
  <h3><%= Shop.find(shop).zh_name %></h3>
  <div class="clearfix" id="items_in_list">
    <% products_arr.map do |p| %>
      <% p.order_items.map do |item| %>
        <div class="col-xs-12 item">
          <%= form_for item, url: order_item_path(item.id) do |f| %>
          <div class="col-xs-3 col-sm-3">
            <%= link_to item.product do %>
              <% if item.product.attachments_count > 0 %>
                <%= image_tag item.product.attachments.first.image.url, class: "img100" %>
              <% else %>
                <%= image_tag "https://unsplash.it/400?image=668", class: "img100" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-9 col-sm-6">
            <%= link_to item.product.item_code, item.product %>
            <%= link_to item.product.name, item.product %>
            <%= link_to "海", item.product.links.last.value, class: "circle", target: "_blank" %>
            <br>
            <%= item.product.our_price %> x
            <%= f.number_field :quantity, { style: "width: 60px; margin: 10px 0px;", max: 999, pattern: "[0-9]*", step: item.product.wholesale_amount } %>
            <%= dead_or_alive(item.product) %>
            <br>
            <div class="no-space">
            <%= render_order_item_next_state_btn(item) %>
            <%= link_to "缺貨", admin_unavailable_path(order_item_id: item.id), class: "btn btn-link", style: "padding: 6px 0px; margin: 0px 7%;", method: :post %>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>