<div class='<%= rowCount > 0 ? "col-xs-#{12/rowCount}" : "col-sm-3 col-xs-6" %> product-card text-center' id="<%= product.item_code %>">
  <%= link_to product do %>
    <div style="position: relative;" class="product-show-images-container embed-container ratio-1-1">
      <% if product.attachments_count > 0 %>
        <%= image_tag product.attachments.order(:id).first.image.url, style: "width: 100%; height: 100%;", alt: product.name, lazy: true %>
      <% else %>
        <%= image_tag "https://unsplash.it/300?random", style: "width: 100%; height: 100%;", alt: product.name, lazy: true %>
      <% end %>
      <%#= product.category.name %>
      <!-- <h5 class="product-item-code"><%#= "#{product.item_code[0..2]}-#{product.item_code[3..-1]}" %></h5> -->
    </div>
  <% end %>
  <span>原</span>
  <span class="their-price"><%= product.their_price %></span>
  <span class="price-divider-desktop hidden-sm hidden-xs">/</span>
  <br class="price-divider-mobile visible-sm visible-xs">
  <span>批</span>
  <span class="our-price">
    <% if user_signed_in? %>
      <%= product.our_price %>
    <% else %>
      ???
    <% end %>
  </span>
  <h5 class="product-name"><%= link_to product.name, product %></h5>
  <%#= product.zh_name %>
  <%#= product.stock %>
  <div class="wish-and-cart">
    <% link_to root_path, class: "btn" do %>
      <i class="glyphicon glyphicon-heart"></i>
      加入待買
    <% end %>
    <%= add_to_cart_btn(product) %>
  </div><!-- /input-group -->
</div>