<!-- 改用categories#show -->
<div id="product-index-container">
  <div id="last-page"><%= last_page %></div>
  <div id="next-page"><%= next_page(@total_page) %></div>
  <% if @children.present? %>
    <% @children.each_slice(4) do |c4| %>
      <div class="row">
        <%= render partial:"categories/category", collection: c4, as: :category %>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <%= render "partials/pagination" %>
    <%= render 'partials/tool', position: "top" %>
  </div>
  <div class="row">
    <%= render @products, rowCount: session[:rowCount].to_i %>
  </div>
  <div class="text-center">
    <%= render "partials/pagination" %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("img").lazyload();
  })
</script>