<div class="col-sm-5 col-xs-12">
  <% if @product.attachments_count > 0 %>
    <div style="position: relative;">
      <%= image_tag @product.attachments.first.image.url, style: "width: 100%; height: 100%; margin-bottom: 10px;", class:"product-main-image", id:"image-#{@product.attachments.first.id}" %>
      <% @product.attachments[1..-1].each do |a| %>
        <%= image_tag a.image.url, style: "width: 100%; height: 100%; margin-bottom: 10px; display: none;", class:"product-main-image", id:"image-#{a.id}" %>
      <% end %>      
    </div>
    <% @product.attachments.each_slice(6) do |a6| %>
      <div class="row">
        <% a6.each do |a| %>
          <div class="col-xs-2 product-thumbs" data-image=<%= "image-#{a.id}" %>>
            <%= image_tag a.image.thumb.url, style: "width: 100%;" %>
            <%= a.description %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="col-sm-7 col-xs-12" id="product-details-block">
  <h5>商品編號：<%= @product.item_code %></h5>
  <h1><%= @product.name %></h1>
  <div class="detail">
    <h5 >原產地</h5>
    <p>日本</p>
    <h5>材質</h5>
    <p>ポリエステル 85％， ポリウレタン 15％</p>
    <h5>特色</h5>
    <p>キュープ：生地に触れると冷たく感じる「接触冷感」と優れた吸放湿性を持ったサマーシーズンにおすすめの快適素材です。</p>
  </div>
  <%= add_to_cart_btn(@product) %>
  <%= render "partials/contact_us" %>
</div>

<script type="text/javascript">
  $(function() {
    $(".product-thumbs").hover(function() {
      console.log($(this).data("image"));
      $(".product-main-image").hide();
      $("#" + $(this).data("image")).show();
    });
  });
</script>