<!DOCTYPE html>
<html>
<head>
  <title><%= meta_title %></title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :extra_css %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :custom_js %>
  <%#= favicon_link_tag "favicon.ico" %>
</head>
<body>
  <%= render "partials/navbar" %>
  <div class="clearfix visible-xs navbar-header">
    <%= image_tag "icon.png", width: '50px', style: "float: left; padding: 3px 0px;" %>
    <h1 class="navbar-brand">
      <%= link_to root_path do %>
        <span class="japan-logo-text">JP</span>
        <span>P8</span>
      <% end %>
    </h1>
  </div>
  <div class="container responsive">
    <%= notice_message %>
    <!-- <h1 style="margin: 30px auto; display: inline-flex;"><%#= link_to "日本Ｐ貨王", root_path %></h1> -->
    
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div class="loading-content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
