<!DOCTYPE html>
<html>
<head>
  <title><%= meta_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :extra_css %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%#= favicon_link_tag "favicon.ico" %>
</head>
<body>

  <%= render "partials/navbar" %>
  <div class="container responsive">
    <!-- <h1 style="margin: 30px auto; display: inline-flex;"><%#= link_to "日本Ｐ貨王", root_path %></h1> -->
    
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div class="loading-content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
